* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-position:  center center;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  background-image: url(back.jpg);
}
ul {
  background: #ffffff url(back.jpg) repeat scroll 0% 50%;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  position: fixed;
}
li {
  margin: 0 50px;
  display: inline;
}
p {
  margin: 50px;
  text-align: center;
}
* html ul {
  position: absolute;
}
* html {
  background: transparent url(fake.jpg) repeat scroll 0% 50%;
}
