h1 {font-family : arial,sans-serif; color : darkblue}
h2 {font-family : arial,sans-serif; color : darkblue}
h3 {font-family : arial,sans-serif; color : darkblue}

body {font-family : arial,sans-serif; text-align : justify}

a:link {color : darkred}
a:visited {color : darkred}
a:active {color : darkred}
